# Node modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Build outputs
dist/
build/

# Environment variables
.env

# Logs
logs/
*.log
log.*

# OS & Editor files
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# File Uploads
src/public/uploads/
