<% layout = 'layout' %>
<h1 class="title">Download File</h1>
<div class="box">
  <p><strong>File Name:</strong> <%= fileName %></p>
  <a class="button is-info" href="/download/<%= fileId %>/file">Download File</a>
</div>
